// See node_modules/bootstrap/scss/_variables.scss for more variables that you can chage
// When running Sass, destination file should be style.css

// Variable Overrides 
// COLORS
$theme-colors: (
  "primary": #068A95,
  
  
);
// other theme-colors variables are: primary, secondary, success, info, warning, danger, light, dark

$body-bg: #ededed;
$body-color: #000;
$link-color: blue;
$link-decoration: none;
$link-hover-color: gray;
$link-hover-decoration: underline;
$light-teal: #BED8D1;
$navy: #2B374C;
$teal: #068A95;
$white_text: #FFF;

//heading sizes
$heading_one: 50px;
$heading_two: $heading_one - 15px;
$heading_three: $heading_one - 25px;

h1 {
    font-size: $heading_one;
}

h2 {
    font-size: $heading_two;
}

h3 {
    font-size: $heading_three;
}


// GRID VARIABLES
// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 30px;


// FONTS

$font-family-sans-serif: avenir !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-base: 1.1rem;

// BASIC SCROLLING-NAV STYLES FOR RESPONSIVE LAYOUT
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 175px 0 100px;
  }
}

section {
  padding: 100px 0;
  padding-left: 50px;
  padding-right: 50px;
}


// MUST IMPORT THIS AT THE BOTTOM OF THE CUSTOM SASS FILE
// Path must be accurate to the node_modules folder within 
// the main project folder
// ///////////////////////////////////////////////////////
// Bootstrap Sass Imports
@import "../node_modules/bootstrap/scss/bootstrap";

nav{
   background-color: $light-teal;
}

ul.navbar-nav li.nav-item a.nav-link { color: $navy; }

footer{
  padding: 50px 0;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
    background-color: $teal;
    border-color: $teal;
    font-size: 15px;
    color: $white_text;
}

.btn a:hover{
    background-color: $teal;
    border-color: $teal;
    color: $white_text;
    text-decoration: underline;
}

a {
    color: $white_text;
}

